[submodule "scripts/path.ux"]
	path = scripts/path.ux
	url = https://github.com/joeedh/path.ux
[submodule "scripts/extern/potree"]
	path = scripts/extern/potree
	url = https://github.com/potree/potree.git
