[submodule "scripts/path.ux"]
	path = scripts/path.ux
	url = https://github.com/joeedh/path.ux
[submodule "scripts/mathl"]
	path = scripts/mathl
	url = https://github.com/joeedh/mathl.git
[submodule "sculptcore"]
	path = sculptcore
	url = https://github.com/joeedh/sculptcore.git
[submodule "vendor/nstructjs"]
	path = vendor/nstructjs
	url = https://github.com/joeedh/STRUCT.git
